body {
  background-image: url(./Images/bg1.jpg);
  background-size: cover;
}

* {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  margin: 0px;
  padding: 0px;
}

.container {
    position: relative;
  border: 1px solid black;
  background-color: aliceblue;
  /* height: 60vh; */
  width: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#my_form {
  padding: 10px;
  height: 90%;
  width: 90%;
  display: block;
  align-items: center;
  text-align: center;
}

.group {
    display: flex;
    align-items: center;
  padding: 10px 0 10px 10px;
  margin: 15px 0 10px 10px;
}

.group label,
.group input,
.form_sub,
#gender,
.container,
.add label,
.add select, .form_sub input {
  position: absolute;
}

.group label,
.add label {
  left: 6%;
}

.group input {
  width: 50%;
  right: 2%;
  padding: 4px;
}

#align_gender,
.group,
.add, .form_sub {
  position: relative;
}

#align_gender{
    display: flex;
    align-items: center;
 }

#gender {
  margin-left: 42%;
  padding: 3px;
}

.add {
  margin: 6% 0 5% 3%;
}

#add_btn {
    margin-left: -5%;
  padding: 3px;
}

.my_btn {
    padding: 5px;
    background-color: rgb(100, 181, 235);
}

#sub {
    width: 40%;
    padding: 10px;
    border: 0.5px solid black;
    background-color: rgb(113, 216, 113);
    border-radius: 5px;
    font-size: 17px;
    color: white;
    margin-top: 10%;
    margin-left: -16%;

}

#res {
    background-color: rgb(223, 85, 85);
    border: 0.5px solid black;
    border-radius: 5px;
    color: white;
    margin-top: 25%;
    margin-left: -2%;
    padding: 3px;
}
